[submodule "vagrant/providers/virtualbox-provider"]
	path = vagrant/providers/virtualbox-provider
	url = git@github.com:iammuhit/vagrant-virtualbox-provider.git
[submodule "vagrant/providers/vmware-provider"]
	path = vagrant/providers/vmware-provider
	url = git@github.com:iammuhit/vagrant-vmware-provider.git
[submodule "vagrant/providers/docker-provider"]
	path = vagrant/providers/docker-provider
	url = git@github.com:iammuhit/vagrant-docker-provider.git
[submodule "vagrant/provisioners/file-provisioner"]
	path = vagrant/provisioners/file-provisioner
	url = https://github.com/iammuhit/vagrant-file-provisioner.git
[submodule "vagrant/provisioners/shell-provisioner"]
	path = vagrant/provisioners/shell-provisioner
	url = https://github.com/iammuhit/vagrant-shell-provisioner.git
[submodule "vagrant/provisioners/ansible-provisioner"]
	path = vagrant/provisioners/ansible-provisioner
	url = https://github.com/iammuhit/vagrant-ansible-provisioner.git
